

html {
    scroll-behavior: smooth;
  }
  .logo-img {
    height: 2rem;
  }
  .navbar {
    transition: 0.3s;
  }
  .nav-colored {
    background-color: #461B93;
  }
  .nav-transparent {
    background-color: transparent;
  }
  @media screen and (max-width: 900px) {
  .show {
    visibility: visible;
    transition: 0.3s;
  }
  .hide {
    visibility: hidden;
    transition: 0.3s;
  }
}
  body {
    overflow-x: hidden;
    background: linear-gradient(123deg, #461B93 0%, #461B93 40%, #6A3CBC calc(40% + 1px), #6A3CBC 60%, #8253D7 calc(60% + 1px), #8253D7 70%, #facc15 calc(70% + 1px), #facc15 100%);
  }
  .bg-footer {
    background-color: #facc15;
  }
  .gradient-footer {
    background: rgb(70,27,147);
background: linear-gradient(90deg, rgba(70,27,147,1) 0%, rgba(106,60,188,1) 56%, rgba(130,83,215,1) 78%, rgba(57,20,166,1) 98%);
  }
  .text-shadow {
    text-shadow: 5px 2px 8px #000000,
      12px 6px 8px 	#505050;
  }
  .hero-button, .bottom-nav {
    background-color: #6A3CBC;
    
  }
  .hero-button:hover {
    background-color: #8253D7;
  }
  .hero-text {
    color: #461B93;
  }
  
  #container {
    
    margin-bottom: 100px;
    display: grid;
  grid-gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(500px,1fr);
  overflow-x: auto;
    overflow: hidden;
    height: 450px;
  }
  
  
  
  /*responsive devices*/

.preview {
 transform: scale(1.2);
transition: 0.3s;
filter: drop-shadow(1px 1px 7px #fcf4c5);
  
}
.preview:hover {
  transform: scale(1.4);
  filter: drop-shadow(1px 1px 11px #fcf4c5);
  transition: 0.3s;
}
.preview-home {
  filter: drop-shadow(0.5px 1px 3px #3a3a3a);
}

