

html {
    scroll-behavior: smooth;
  }
  .navbar {
    transition: 0.3s;
  }
  .nav-colored {
    background-color: #461B93;
  }
  .nav-transparent {
    background-color: transparent;
  }
  body {
    overflow-x: hidden;
    background: linear-gradient(123deg, #461B93 0%, #461B93 40%, #6A3CBC calc(40% + 1px), #6A3CBC 60%, #8253D7 calc(60% + 1px), #8253D7 70%, #facc15 calc(70% + 1px), #facc15 100%);
  }
  .bg-footer {
    background-color: #facc15;
  }
  
  .text-shadow {
    text-shadow: 5px 2px 8px #000000,
      12px 6px 8px 	#505050;
  }
  
  
  #container {
    
    margin-bottom: 100px;
    display: grid;
  grid-gap: 16px;
  padding: 16px;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(500px,1fr);
  overflow-x: auto;
    overflow: hidden;
    height: 450px;
  }
  
  
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .demo a {
    position: relative;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }
  #section07 a {
    padding-top: 80px;
  }
  #section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /*responsive devices*/
.card {
  width: 100vw;
  background: black;
  height: 50vh;
  display: flex;
  padding: 5rem;
}
.laptop {
  width: 25rem;
  height: 16rem;
transition: 0.3s;
  position: relative;
}
.laptop:hover {
  transform: scale(1.1);
  
  transition: 0.3s;
}

.laptop-screen {
    position: relative;
    left: 7%;
    height: 94%;
    width: 86%;
    background-color: black;
    border-radius: 1vw 1vw 0 0;
    padding: 3.5%;
}
.laptop-content {
      width: 100%;
      height: 100%;
 
}
.laptop-computer-store {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/desktop-computer.png");
  background-size: cover;
}
.laptop-carwash {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/desktop-boat.png");
  background-size: cover;
}
.laptop-painter {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/desktop-painter.png");
  background-size: cover;
}
.laptop-landscaper {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/desktop-landscaper.png");
  background-size: cover;
}

.laptop-base {
    background-color: gray;
    height: 6%;
    border-radius: 0 0 1vw 1vw;
}
.laptop-trackpad {
      position: relative;
      left: 50%;
      background-color: #fff;
      width: 20%;
      height: 30%;
      border-radius: 0 0 1vw 1vw;
      transform: translateX(-50%);
}

.tablet {
  width: 15rem;
  height: 17rem;

  position: relative;
}

.tablet-screen {
    position: relative;
    left: 7%;
    height: 94%;
    width: 86%;
    background-color: black;
    border-radius: 0.6vw;
    padding: 3.5%;
  padding-bottom: 6%;
}
.tablet-content {
      width: 100%;
      height: 100%;
      background-color: #fff;
}
.tablet-computer-store {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/tablet-computer.png");
  background-size: contain;
}
.tablet-carwash {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/tablet-boat2.png");
  background-size: cover;
}
.tablet-painter {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/tablet-painter.png");
  background-size: cover;
}
.tablet-landscaper {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/tablet-landscaper.png");
  background-size: cover;
}
.phone {
  width: 5rem;
  height:10rem;

  position: relative;
}

.phone-screen {
    position: relative;
    left: 7%;
    height: 94%;
    width: 86%;
    background-color: black;
    border-radius: 1vw;
    padding: 6.5%;
    padding-bottom: 13%;
  padding-top: 13%;
}
.phone-content {
      width: 100%;
      height: 100%;
background-color: #fff;
}
.phone-computer-store {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/phone-computer.png");
  background-size: cover;
}
.phone-carwash {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/phone-boat.png");
  background-size: cover;
}
.phone-painter {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/phone-painter.png");
  background-size: cover;
}
.phone-landscaper {
  background-image: url("https://raw.githubusercontent.com/tylertechtyler/hosted-assets/main/Portfolio-page-tydev/phone-landscaper.png");
  background-size: cover;
}
/*for circle background*/
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -550px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(11){
  left: 65%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}
.circles li:nth-child(12){
  left: 31%;
  width: 10px;
  height: 10px;
  animation-delay: 0s;
  animation-duration: 9s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1500px) rotate(720deg);
      opacity: 0.2;
      border-radius: 50%;
  }

}